header.header
	.container.header__container
		a.header__logo(href='#', target='_blank')
			+icon('logo-appsec')(width='133', height='49')
		.header__right
			a.header__logo(href='#', target='_blank')
				+picture('logo-stingrey', 'png', '', '')
			a.header__logo(href='#', target='_blank')
				+icon('logo-cnews')(width='103', height='20')