.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	max-width: 260px;
	width: 100%;
	padding: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: $color-button;
	color: $white;
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s ease;

	&:hover {
		background-color: $color-blue;
	}

	&--white {
		background-color: $white;
		color: $color-main;

		&:hover {
			background-color: rgba($white, 0.7);
		}
	}
}