.chart {
	padding: 23px 0 0;

	&__text {
		margin-top: 25px;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 45px 15px;
		margin-top: 40px;
	}

	&__item {
		width: calc(33.3333% - 15px / 3 * 2);

		@include max(tl) {
			width: calc(50% - 15px / 2);
		}

		@include max(t) {
			width: 100%;
		}
	}
}
