.hero {
	padding: 84px 0 37px;
	background-color: $color-main;
	color: $white;
	border-radius: 0 0 10px 10px;

	@include max(ti) {
		padding: 40px 0 20px;
	}

	&__container {
		display: flex;

		@include max(tl) {
			flex-direction: column;
		}
	}

	&__content {
		max-width: 59.7%;

		@include max(dl) {
			max-width: 50%;
		}

		@include max(tl) {
			max-width: 100%;
		}
	}

	&__title-big {
		font-size: 45px;
		line-height: 1.2;
		overflow: hidden;
		opacity: 0;

		@include max(d) {
			font-size: fluid(38, 45, 992, 1280);
		}

		@include max(tl) {
			font-size: fluid(32, 38, 768, 992);
		}

		@include max(ti) {
			font-size: fluid(24, 32, 0, 768);
		}

		.word {
			transform: translateY(100%);
			transition: transform 0.3s ease;
		}
	}

	&__title-accent {
		color: $color-accent;
	}

	&__text {
		margin-top: 40px;

		@include max(ti) {
			margin-top: 20px;
		}

		p + p {
			margin-top: 25px;

			@include max(ti) {
				margin-top: 15px;
			}
		}
	}

	&__image-wrapper {
		position: relative;
		margin-top: -55px;
		margin-right: -85px;
		margin-bottom: -55px;

		@include max(d) {
			margin-right: 0;
		}

		@include max(tl) {
			margin-top: 20px;
			margin-bottom: -70px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 40%;
			left: 50%;
			transform: translate(-50%, -50%) scale(0.8);
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: rgba($white, 0.12);
		}

		&::before {
			animation: pulse-small 2.5s linear infinite;
			animation-delay: 2s;
			z-index: 1;
		}

		&::after {
			animation: pulse-big 2.5s linear infinite;
			z-index: 0;
		}

		picture {
			position: relative;
			z-index: 2;
		}

		img {
			@include max(tl) {
				margin: 0 auto;
			}
		}
	}

	&__light {
		position: absolute;
		top: -107px;
		left: -42px;
		width: 170%;
		height: 170%;
		transition: 0.3s linear;

		@include max(dl) {
			top: -21px;
			left: -37px;
			transform: rotate(12deg);
		}

		@include max(tl) {
			top: -45px;
			left: 65px;
			transform: rotate(-5deg);
		}

		@include max(ti) {
			top: -23px;
			left: 35px;
			transform: rotate(-3deg);
		}

		@include max(t) {
			top: 17px;
			left: 18px;
			transform: rotate(0);
		}

		&.hidden {
			opacity: 0;
		}

		svg {
			width: 100%;
			height: 100%;

			@include max(tl) {
				width: 1000px;
				height: 1055px;
			}
		}
	}
}
