.modal {
	width: 100%;

	&__title {
		font-size: 40px;
		font-weight: 600;
		text-align: center;
		padding: 51px 10px 20px;

		@include max(ti) {
			font-size: 32px;
		}

		@include max(t) {
			font-size: 24px;
		}
	}

	&__result {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		background-color: $color-card;
		padding: 25px 50px;

		@include max(ti) {
			padding: 15px 20px;
		}
	}

	&__result-text {
		font-size: 28px;

		@include max(ti) {
			font-size: 24px;
		}

		@include max(t) {
			font-size: 20px;
		}

		span {
			color: $color-blue;
		}
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		padding: 10px;
		border-radius: 10px;
		background-color: $color-blue;

		@include max(t) {
			width: 60px;
			height: 60px;
		}

		svg {
			width: 60px;
			height: 60px;
		}
	}

	&__subtitle {
		font-size: 30px;
		text-align: center;
		padding: 20px 10px 0;

		@include max(ti) {
			font-size: 24px;
			padding: 20px 20px 0;
		}

		@include max(t) {
			font-size: 18px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 10px 50px 50px;

		@include max(ti) {
			padding: 10px 20px 30px;
		}
	}

	&__list-item {
		display: flex;
		align-items: center;

		@include max(ti) {
			width: 300px;
			margin: 0 auto;
		}

		@include max(t) {
			width: 300px;
		}

		p {
			&:first-child {
				min-width: 260px;
				font-size: 75px;
				line-height: 1.21;
				font-weight: 600;

				@include max(ti) {
					min-width: 150px;
					font-size: 60px;
				}

				@include max(t) {
					min-width: 120px;
					font-size: 40px;
				}
			}

			&:last-child {
				font-size: 24px;

				@include max(t) {
					font-size: 18px;
				}
			}
		}
	}
}
