.products-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: $color-card;
	border-radius: 10px;
	padding: 30px 30px 0;
	transition: transform 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}

	&__image-wrapper {
		padding-bottom: 16px;
		border-bottom: 1px solid $color-main;
	}

	&__image {
		width: 100%;
		height: auto;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-bottom: 38px;
	}

	&__text {
		font-size: 10px;
		padding-top: 19px;
		margin-bottom: 23px;
	}

	&__more {
		color: $color-link;
		font-size: 10px;
		font-weight: 600;
		margin-top: auto;
	}
}
