.research {
	padding: 50px 0 0;

	@include max(ti) {
		padding: 40px 0 0;
	}

	&__window {
		position: relative;
		border-radius: 10px;
		background-color: $color-card;
		padding: 70px 0 76px;
		overflow: hidden;

		@include max(ti) {
			padding: 40px 0;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		gap: 20px;

		@include max(tl) {
			align-items: flex-start;
		}

		@include max(ti) {
			flex-direction: column;
		}
	}

	&__list {
		list-style: inherit;
		padding-left: 20px;
		margin-top: 25px;

		li + li {
			margin-top: 12px;
		}
	}

	&__button {
		max-width: 227px;
		margin-top: 38px;
	}

	&__image-wrapper {
		position: relative;
		max-width: 558px;
		width: 100%;
		margin-right: -56px;

		@include max(dl) {
			margin-right: 0;
		}

		@include max(ti) {
			max-width: 100%;
			margin-top: 25px;
		}

		&--desktop {
			display: block;

			@include max(ti) {
				display: none;
			}
		}

		&--mobile {
			display: none;

			@include max(ti) {
				display: block;
			}
		}
	}
}
