.socials {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 70px;

	@include max(ti) {
		gap: 20px;
	}

	&__item {
		display: flex;
		align-items: center;
		gap: 7px;
		font-size: 12px;
	}
}
