mixin text(text, className, additionalText)
	- let classModify = additionalText ? className + ' text--columns' : className
	.text(class=classModify)&attributes(attributes)
		p!= text
		if additionalText
			p!= additionalText
